.dd{min-width:100%;padding:30px}.dd:not(:first-child){margin-top:30px}.dd-item{padding:2px;background-color:#fff;margin-bottom:4px;cursor:pointer}.dd-item>button{position:relative;cursor:pointer;float:left;width:25px;height:20px;margin:10px 0;padding:0;text-indent:100%;white-space:nowrap;overflow:hidden;border:0;background:0 0;font-size:12px;line-height:1;text-align:center;font-weight:700}.dd-handle{border:0;background-color:transparent}

.kanban-container {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
.kanban-container .kanban-board {
    float: none;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-bottom: 1.25rem;
    margin-right: 1.25rem !important;
    background-color: #F3F6F9;
    border-radius: 0.42rem; }
.kanban-container .kanban-board:last-child {
    margin-right: 0 !important; }
.kanban-container .kanban-board .kanban-board-header {
    border-top-left-radius: 0.42rem;
    border-top-right-radius: 0.42rem; }
.kanban-container .kanban-board .kanban-board-header .kanban-title-board {
    font-size: 1.2rem;
    font-weight: 500;
    color: #181C32; }
.kanban-container .kanban-board .kanban-board-header.primary {
    background-color: #3699FF;
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-board-header.primary .kanban-title-board {
    color: #FFFFFF; }
.kanban-container .kanban-board .kanban-board-header.light-primary {
    background-color: rgba(54, 153, 255, 0.1);
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-board-header.light-primary .kanban-title-board {
    color: #3699FF; }
.kanban-container .kanban-board .kanban-board-header.secondary {
    background-color: #E4E6EF;
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-board-header.secondary .kanban-title-board {
    color: #3F4254; }
.kanban-container .kanban-board .kanban-board-header.light-secondary {
    background-color: rgba(228, 230, 239, 0.1);
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-board-header.light-secondary .kanban-title-board {
    color: #E4E6EF; }
.kanban-container .kanban-board .kanban-board-header.success {
    background-color: #1BC5BD;
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-board-header.success .kanban-title-board {
    color: #ffffff; }
.kanban-container .kanban-board .kanban-board-header.light-success {
    background-color: rgba(27, 197, 189, 0.1);
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-board-header.light-success .kanban-title-board {
    color: #1BC5BD; }
.kanban-container .kanban-board .kanban-board-header.info {
    background-color: #8950FC;
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-board-header.info .kanban-title-board {
    color: #ffffff; }
.kanban-container .kanban-board .kanban-board-header.light-info {
    background-color: rgba(137, 80, 252, 0.1);
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-board-header.light-info .kanban-title-board {
    color: #8950FC; }
.kanban-container .kanban-board .kanban-board-header.warning {
    background-color: #FFA800;
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-board-header.warning .kanban-title-board {
    color: #ffffff; }
.kanban-container .kanban-board .kanban-board-header.light-warning {
    background-color: rgba(255, 168, 0, 0.1);
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-board-header.light-warning .kanban-title-board {
    color: #FFA800; }
.kanban-container .kanban-board .kanban-board-header.danger {
    background-color: #F64E60;
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-board-header.danger .kanban-title-board {
    color: #ffffff; }
.kanban-container .kanban-board .kanban-board-header.light-danger {
    background-color: rgba(246, 78, 96, 0.1);
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-board-header.light-danger .kanban-title-board {
    color: #F64E60; }
.kanban-container .kanban-board .kanban-board-header.light {
    background-color: #F3F6F9;
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-board-header.light .kanban-title-board {
    color: #7E8299; }
.kanban-container .kanban-board .kanban-board-header.light-light {
    background-color: rgba(243, 246, 249, 0.1);
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-board-header.light-light .kanban-title-board {
    color: #F3F6F9; }
.kanban-container .kanban-board .kanban-board-header.dark {
    background-color: #181C32;
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-board-header.dark .kanban-title-board {
    color: #ffffff; }
.kanban-container .kanban-board .kanban-board-header.light-dark {
    background-color: rgba(24, 28, 50, 0.1);
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-board-header.light-dark .kanban-title-board {
    color: #181C32; }
.kanban-container .kanban-board .kanban-board-header.white {
    background-color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-board-header.white .kanban-title-board {
    color: #3F4254; }
.kanban-container .kanban-board .kanban-board-header.light-white {
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-board-header.light-white .kanban-title-board {
    color: #ffffff; }
.kanban-container .kanban-board .kanban-drag .kanban-item {
    border-radius: 0.42rem;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.05); }
.kanban-container .kanban-board .kanban-drag .kanban-item[data-class="primary"] {
    background-color: #3699FF;
    color: #FFFFFF;
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-drag .kanban-item[data-class="light-primary"] {
    background-color: rgba(54, 153, 255, 0.1);
    color: #3699FF;
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-drag .kanban-item[data-class="secondary"] {
    background-color: #E4E6EF;
    color: #3F4254;
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-drag .kanban-item[data-class="light-secondary"] {
    background-color: rgba(228, 230, 239, 0.1);
    color: #E4E6EF;
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-drag .kanban-item[data-class="success"] {
    background-color: #1BC5BD;
    color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-drag .kanban-item[data-class="light-success"] {
    background-color: rgba(27, 197, 189, 0.1);
    color: #1BC5BD;
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-drag .kanban-item[data-class="info"] {
    background-color: #8950FC;
    color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-drag .kanban-item[data-class="light-info"] {
    background-color: rgba(137, 80, 252, 0.1);
    color: #8950FC;
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-drag .kanban-item[data-class="warning"] {
    background-color: #FFA800;
    color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-drag .kanban-item[data-class="light-warning"] {
    background-color: rgba(255, 168, 0, 0.1);
    color: #FFA800;
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-drag .kanban-item[data-class="danger"] {
    background-color: #F64E60;
    color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-drag .kanban-item[data-class="light-danger"] {
    background-color: rgba(246, 78, 96, 0.1);
    color: #F64E60;
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-drag .kanban-item[data-class="light"] {
    background-color: #F3F6F9;
    color: #7E8299;
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-drag .kanban-item[data-class="light-light"] {
    background-color: rgba(243, 246, 249, 0.1);
    color: #F3F6F9;
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-drag .kanban-item[data-class="dark"] {
    background-color: #181C32;
    color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-drag .kanban-item[data-class="light-dark"] {
    background-color: rgba(24, 28, 50, 0.1);
    color: #181C32;
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-drag .kanban-item[data-class="white"] {
    background-color: #ffffff;
    color: #3F4254;
    -webkit-box-shadow: none;
    box-shadow: none; }
.kanban-container .kanban-board .kanban-drag .kanban-item[data-class="light-white"] {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none; }